$erin: #4FFF4B;
$black: #000000;
$white: #FFFFFF;
$silver: #BBBBBB;
$amethyst: #9E6DC2;
$magnolia: #FBF6FF;
$black20: #00000040;
$darkPurple: #170027;
$palePurple: #F2E7FA;
$paddingElements: 8.5rem;
$russianViolet: #290742;
$linear30: linear-gradient(105deg, rgba(239, 35, 243, 0.30) -2.03%, rgba(195, 38, 228, 0.30) 27.04%, rgba(139, 42, 209, 0.30) 67.97%, rgba(92, 44, 193, 0.30) 107.39%);
$linear50: linear-gradient(105deg, rgba(239, 35, 243, 0.50) -2.03%, rgba(195, 38, 228, 0.50) 27.04%, rgba(139, 42, 209, 0.50) 67.97%, rgba(92, 44, 193, 0.50) 107.39%);
$linear70: linear-gradient(105deg, rgba(239, 35, 243, 0.70) -2.03%, rgba(195, 38, 228, 0.70) 27.04%, rgba(139, 42, 209, 0.70) 67.97%, rgba(92, 44, 193, 0.70) 107.39%);